/*
BLUE JEANS
#5D9CEC, #4A89DC
AQUA
#4FC1E9, #3BAFDA
MINT
#48CFAD, #37BC9B
GRASS
#A0D468, #8CC152
SUNFLOWER
#FFCE54, #F6BB42
BITTERSWEET
#FC6E51, #E9573F
GRAPEFRUIT
#ED5565, #DA4453
LAVENDER
#AC92EC, #967ADC
PINK ROSE
#EC87C0, #D770AD
LIGHT GRAY
#F5F7FA, #E6E9ED
MEDIUM GRAY
#CCD1D9, #AAB2BD
DARK GRAY
#656D78, #434A54
*/

.button_big {
  border:none;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 4px;
	padding: 15px;
}

.button_big:hover {
	background: #2eacff;
}

.button_big:active {
	top: 1px;
}

/* Small Buttons */

.button {
  border:none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 4px;
	padding: 10px;
}

.button:hover {
	background: #2eacff;
}

.button:active {
	top: 1px;
}


/* SUBMIT BUTTONS */
input[type="submit"] {
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #8CC152;
  border-radius: 4px;
  padding: 10px;
}

input[type="submit"]:hover {
  background: #A0D468;
}

input[type="submit"]:active {
  top: 1px;
}


/* Tag Buttons */
.tag_button {
	font-size: 15px;
  border:none;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 4px;
	padding: 5px;
}

.tag_button:hover {
	background: #2eacff;
}

.tag_button:active {
	top: 1px;
}
/* Inputs */


/* Placeholder Styles */

::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

/* Default input styles */

input[type=name],
input[type=email],
input[type=password],
input[type=text],
input[type=number],
textarea[type=text] {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
/*	width: 100%;*/
	color: #999;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=name]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
input[type=number]:hover,
textarea[type=text]:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea[type=text]:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
}

textarea[type=text] {
	height: 200px;
}

input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}


/* Sliders */

/* (These only work in webkit browsers-be careful! */


input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 250px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, .8);
    border: 0;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px rgba(0, 0, 0, 1);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 100%;
   	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
   	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
   	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
   	background-image: linear-gradient(#2da1ec, #0191d9);
}

input[type="range"]::-webkit-slider-thumb:hover {
   background-image: -webkit-radial-gradient(#2eacff, #0191d9);
   background-image: -moz-radial-gradient(#2eacff, #0191d9);
   background-image: -ms-radial-gradient(#2eacff, #0191d9);
   background-image: radial-gradient(#2eacff, #0191d9);
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

input.bigslider-in {
	width: 300px;
	height: 30px;
	border-radius: 30px;
}

input.bigslider-in::-webkit-slider-thumb {
	width: 30px;
	height: 30px;
}

input.smallslider-in {
	width: 200px;
	height: 15px;
	border-radius: 15px;
}

input.smallslider-in::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
}

input.bigslider-out {
	width: 300px;
	height: 15px;
	border-radius: 15px;
}

input.bigslider-out::-webkit-slider-thumb {
	width: 30px;
	height: 30px;
}

input.smallslider-out {
	width: 200px;
	height: 10px;
	border-radius: 10px;
}

input.smallslider-out::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
}
